@charset "utf-8";
/* CSS Document */
 
.main-container{
	width: 100%;
	max-width: 600px;
 
}
 
table{
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	background: #F5696B;
}
 
th, td{
	border: solid 1px #000000;
	padding: 10px;
}